body {
  background-color: #fafafa;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  color: #b2cc1e;
  text-shahow: 0px 1px 0px rgba(72, 72, 72, 0.35);
}

:root {
  --brandBlue: #66c3d0;
}

a {
  outline-color: var(--brandBlue);
  color: var(--brandBlue);
}

.IntroHeading {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 1.5em;
}

.brand-text {
  color: #b2cc1e;
}

.Container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.ContactsPhone {
  color: black;
  text-decoration: none;
  &--primary {
    font-size: 1.6em;
    @media (min-width: 650px) {
      font-size: 2em;
    }
  }
}

.PageBody {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
}

.grid {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &-4 {
    width: 100%;
    @media (min-width: 650px) {
      width: 33.3333%;
    }
  }
}

[class^=grid-] {
  float: left;
}
