body {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  color: #b2cc1e;
}

.ContactsPhone {
  text-align: center;
  & a {
    color: black;
    font-size: 2em;
    text-decoration: none;
  }
}

.PageBody {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
}
