.IndexFeature {
  padding: 15px;
  text-align: center;
}

.FeatureIcon {
  text-align: center;
  &__svg {
    height: 150px;
    width: 5em;
    fill: #999;
    color: #999;
    @media (min-width: 650px) {
      width: 10em;
    }
  }

}
.FeatureText {
  font-size: .8em;
}
