html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 213px;
}

:root {
  --brandBlue: #66c3d0;
}
.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 213px;
  background-color: #555;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  font-size: .9em;
  font-weight: lighter;

  & a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
      & > li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
        &:last-child {
          margin-right: 0;
        }
        & > a {
          color: #c3c3c3;
          text-decoration: none;
          &:hover {
            color: var(--brandBlue);
            text-decoration: none;
          }
          &:focus {
            color: var(--brandBlue);
            text-decoration: underline;
            outline-color: var(--brandBlue);
          }
        }
      }
    }
  }
}
